extends layout

block content 
    .contenido-principal
        h1 #{pageName} - #{proyect.name}


        pre=vardump(proyect)

        .contenedor-acciones
            a(href=`/proyect/edit/${proyect.id}` class="boton") Edit Project

            button#eliminar-proyecto(data-proyect-url=proyect.url type="button"
             class="boton eliminar") Delete Project

        